@import "../../components/colors/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form{
    display: flex;
    flex-direction: column;
    label{
        font-family: "Space Grotesk", serif;
        padding-left: 10px;
    }
    input{
        font-family: "Space Grotesk", serif;
        border: none;
        background: $light-color;
        width: 300px;
        height: 30px;
        color: $secondary-color;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
    }
    button{
        font-family: "Space Grotesk", serif;
        border: none;
        background: $light-color;
        width: 300px;
        height: 30px;
        color: $secondary-color;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
    }

    p{
        font-family: "Space Grotesk", serif;
        margin: 0;
        padding: 10px;
    }
    
}