@import "../../../components/colors/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


.count{
    display: flex;
    align-items: center;
    button{
        border: none;
        background: $light-color;
        width: 30px;
        height: 30px;
        color: $secondary-color;
        border-radius: 10px;
        margin: 0 5px;
        cursor: pointer;
        font-family: "Space Grotesk", serif;
        
    }
    p{
        font-family: "Montserrat", sans-serif;
        margin: 0;
    }
}