@import "../../components/colors/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.contact {
    background: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 110px 0;
    h1{
        font-family: "Montserrat", sans-serif;
        color: $light-color;
    }
    label{
        font-family: "Space Grotesk", serif;
        color: $light-color;
        font-size: 1.1rem;
        padding: 10px;
    }
    input{
        padding: 10px;
        margin: 10px;
        width: 40vw;
        border: none;
        background: $light-color;
        border-radius: 10px;
        color: $primary-color;
    }

    textarea{
        border: none;
        border-radius: 10px;
        width: 40vw;
        height: 20vh;
        background: $light-color;
        padding: 10px;
        margin: 10px;
        color: $primary-color;
    }

    button{
        border: none;
        background: $light-color;
        padding: 10px 15px 10px 15px;
        margin: 10px;
        border-radius: 10px;
    }
}