@import "../colors/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $secondary-color;
    padding: 40px 0;
}

.logoFooter{
    p{
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        color: $text-color;
    }
}

.socialMedia{
    display: flex;
    align-items: center;
    i{
        padding: 10px;
        color: $light-color;
        font-size: 1.5em;
        border-radius: 50px;
        transform: 0.5s;
        transition: all 0.5s;
    }
    i:hover{
        color: $secondary-color;
        background: $light-color;
        scale: 1.2;
    }
}