@import "../../components/colors/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.wrapProductsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        margin: 10px;
    }
}